{% extends "base.html" %}

{% load i18n %}

{% block head_title %}
  {% trans "Password Changed" %}
{% endblock head_title %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow-lg border-0">
          <div class="card-header text-white text-center" style="background: #E8960F;">
            <h3 class="mb-0">{% trans "Password Successfully Changed" %}</h3>
          </div>
          {% include 'partials/messages.html' %}
          <div class="card-body text-center">
            <p class="text-muted">{% trans "Your password has been changed successfully. You can now log in with your new password." %}</p>
            <a href="{% url 'account_login' %}" class="btn text-white btn-block" style="background: #E8960F;">
              {% trans "Go to Login" %}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div><br><br><br>
{% endblock content %}
