{% extends 'detail_base.html' %}
{% load static %}
{% block content %}

<!-- .main-content -->
<div class="main-content">

  <div class="single-property-gallery">
    <div class="tf-container">
      <div class="row">
        <div class="position-relative">
          <!-- Main Swiper Gallery -->
          <div class="swiper sw-single">
            <div class="swiper-wrapper">
              {% for image in property.images.all %}
              <div class="swiper-slide">
                <a href="{{ image.image.url }}" data-fancybox="gallery" class="image-wrap d-block">
                  <img class="lazyload img-fluid rounded" data-src="{{ image.image.url }}" src="{{ image.image.url }}"
                    alt="Property Image" style="max-height: 400px; object-fit: cover; width: 100%;">
                </a>
              </div>
              {% endfor %}
            </div>
            <div class="swiper-button-prev sw-button style-2 sw-thumbs-prev">
              <i class="icon-arrow-left-1"></i>
            </div>
            <div class="swiper-button-next sw-button style-2 sw-thumbs-next">
              <i class="icon-arrow-right-1"></i>
            </div>
          </div>
        </div>
        <a href="{% url 'home:property_gallery' property_id=property.id %}" class="btn btn-outline-secondary">
          View Property Gallery
        </a>

        <!-- Thumbnails Swiper Pagination -->
        <div class="swiper thumbs-sw-pagi style-2 mt-3" data-preview="6" data-space="15" data-moblie="3"
          data-mobile-sm="6">
          <div class="swiper-wrapper">
            {% for image in property.images.all %}
            <div class="swiper-slide">
              <div class="img-thumb-pagi">
                <img src="{{ image.image.url }}" alt="Property Thumbnail" class="img-fluid rounded"
                  style="max-height: 90px; object-fit: cover; width: 100%;">
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- section-property-detail -->
  <section class="section-property-detail style-2 ">
    <div class="tf-container">
      <div class="row">
        <div class="col-xl-8 col-lg-7">
          <div class="wg-property box-overview ">
            <div class="heading flex justify-between">
              <div class="title text-5 fw-6 text-color-heading">
                {{ property.title }}
              </div>

              <div class="price text-5 fw-6 text-color-heading">
                ₦{{ property.price}}
                <span class="h5 lh-30 fw-4 text-color-default"></span>
              </div>
            </div>
            <div class="info flex justify-between">
              <div class="feature">
                <p class="location text-1 flex items-center gap-10">
                  <i class="icon-location"></i>{{ property.location }}
                </p>
                <ul class="meta-list flex">
                  <li class="text-1 flex"><span>{{property.bedrooms}}</span>Bed</li>
                  <li class="text-1 flex"><span>{{property.bathrooms}}</span>Bath</li>
                  <li class="text-1 flex"><span>{{ property.sqty}}</span>Sqft</li>
                </ul>
              </div>
              <div class="action">
                <ul class="list-action">
                  <li>{% include 'partials/_favorite_button.html' %}<a>
                    </a></li>
                  <li><a href="#"><svg width="18" height="18" viewbox="0 0 18 18" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M5.625 15.75L2.25 12.375M2.25 12.375L5.625 9M2.25 12.375H12.375M12.375 2.25L15.75 5.625M15.75 5.625L12.375 9M15.75 5.625H5.625"
                          stroke="#5C5E61" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg>
                    </a></li>
                </ul>
              </div>
            </div>
            <div class="info-detail ">
              <div class="wrap-box">
                <div class="box-icon">
                  <div class="icons">
                    <i class="icon-SlidersHorizontal"></i>
                  </div>
                  <div class="content">
                    <div class="text-4 text-color-default">Type:</div>
                    <div class="text-1 text-color-heading">{{ property.property_type}}</div>
                  </div>
                </div>
                <div class="box-icon">
                  <div class="icons">
                    <i class="icon-Crop"></i>
                  </div>
                  <div class="content">
                    <div class="text-4 text-color-default">Land Size:</div>
                    <div class="text-1 text-color-heading">{{ property.sqft}} SqFt</div>
                  </div>
                </div>
              </div>
              <div class="wrap-box">
                <div class="box-icon">
                  <div class="icons">
                    <i class="icon-Bed-2"></i>
                  </div>
                  <div class="content">
                    <div class="text-4 text-color-default">Bedrooms:</div>
                    <div class="text-1 text-color-heading">{{ property.bedrooms}} Rooms</div>
                  </div>
                </div>
                <div class="box-icon">
                  <div class="icons">
                    <i class="icon-Ruler"></i>
                  </div>
                  <div class="content">
                    <div class="text-4 text-color-default">Size:</div>
                    <div class="text-1 text-color-heading">{{ property.sqft}} SqFt</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="wg-property box-property-detail  spacing-1">
            <div class="wg-title text-11 fw-6 text-color-heading">
              Property Details
            </div>
            <div class="content">
              <p class="description text-1 mb-10">{{ property.description}}.</p>
              <a href="#" class="tf-btn-link style-hover-rotate">
                <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_2348_5612)">
                    <path
                      d="M1.66732 9.99999C1.66732 14.6024 5.39828 18.3333 10.0007 18.3333C14.603 18.3333 18.334 14.6024 18.334 9.99999C18.334 5.39762 14.603 1.66666 10.0007 1.66666C5.39828 1.66666 1.66732 5.39762 1.66732 9.99999Z"
                      stroke="#F1913D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M10 6.66666L10 13.3333" stroke="#F1913D" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round"></path>
                    <path d="M6.66732 10L10.0007 13.3333L13.334 10" stroke="#F1913D" stroke-width="1.5"
                      stroke-linecap="round" stroke-linejoin="round"></path>
                  </g>
                  <defs>
                    <clippath id="clip0_2348_5612">
                      <rect width="20" height="20" fill="white" transform="translate(20) rotate(90)"></rect>
                    </clippath>
                  </defs>
                </svg>
              </a>
            </div>
            <div class="box">
              <ul>
                <li class="flex">
                  <p class="fw-6">ID</p>
                  <p>#{{property.id}}</p>
                </li>
                <li class="flex">
                  <p class="fw-6">Price</p>
                  <p>${{ property.price}}</p>
                </li>
                <li class="flex">
                  <p class="fw-6">Size</p>
                  <p>{{ property.sqft}} sqft</p>
                </li>
                <li class="flex">
                  <p class="fw-6">Rooms</p>
                  <p>{{ property.bedrooms}}</p>
                </li>
                <li class="flex">
                  <p class="fw-6">Baths</p>
                  <p>{{ property.bathrooms }}</p>
                </li>
              </ul>
              <ul>
                <li class="flex">
                  <p class="fw-6">Type</p>
                  <p>{{ property.property_type}}</p>
                </li>
                <li class="flex">
                  <p class="fw-6">Status</p>
                  <p>{{ proerty.property_listing}}</p>
                </li>
              </ul>
            </div>
          </div>
          <div class="wg-property box-amenities spacing-3">
            <div class="wg-title text-11 fw-6 text-color-heading">
              Amenities And Features
            </div>
            <div class="wrap-feature">
              <div class="box-feature">
                <ul>
                  {% for amenity in property.amenities.all %}
                  <li class="feature-item">
                    {{ amenity.name }}
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>

          <!-- Video Player Section -->
          {% comment %} <div class="wg-property box-virtual-tour spacing-6">
            <div class="wg-title text-11 fw-6 text-color-heading">Virtual Tour</div>
            <div class="video-player-wrapper">
              <video
                id="property-video"
                class="video-player"
                controls
                poster="{% static 'images/section/property-detail-2.jpg' %}"
                style="width: 100%; height: auto; border-radius: 8px;"
              >
                <!-- Add multiple video sources for cross-browser compatibility -->
                <source src="{{ property.video_tour.url }}" type="video/mp4">
                <source src="{{ property.video_tour.url }}" type="video/webm">
                <source src="{{ property.video_tour.url }}" type="video/ogg">
                Your browser does not support the video tag.
              </video>

              <!-- Custom Video Controls (Optional) -->
              <div class="video-controls" style="display: none;">
                <button class="play-pause-btn" style="padding: 8px 16px; margin: 10px 5px;">
                  <i class="icon-play"></i>
                </button>
                <input type="range" class="video-progress" min="0" max="100" value="0" style="flex: 1; margin: 0 10px;">
                <span class="video-time" style="margin: 0 10px;">00:00 / 00:00</span>
                <button class="mute-btn" style="padding: 8px 16px; margin: 10px 5px;">
                  <i class="icon-volume"></i>
                </button>
                <button class="fullscreen-btn" style="padding: 8px 16px; margin: 10px 5px;">
                  <i class="icon-expand"></i>
                </button>
              </div>

              <!-- Video Info -->
              <div class="video-info mt-3">
                <p class="text-1 text-color-default mb-2">
                  <i class="icon-360 mr-2"></i>Take a virtual tour of this beautiful property
                </p>
                {% if property.video_duration %}
                <p class="text-2 text-color-default">
                  Duration: {{ property.video_duration }}
                </p>
                {% endif %}
              </div>
            </div>
          </div> {% endcomment %}

        </div>
        <div class="col-xl-4 col-lg-5">
          <div class=" tf-sidebar sticky-sidebar ">
            <form class="form-contact-seller mb-30">
              <h4 class="heading-title mb-30">
                Agent Info
              </h4>
              <div class="seller-info">
                <div class="avartar">
                  <img src="{{ property.agent.get_profile_picture }}" alt="">
                </div>
                <div class="content">
                  <h6 class="name">{{ property.agent.user.name }}</h6>
                  <ul class="contact">
                    <a href="{% url 'notification:message_create_to_agent' receiver_id=property.agent.user.id %}" class="btn-icon"
                  title="Message this agent">
                  <i class="bi bi-chat-dots"></i>
                </a>
                    <li><i class="icon-phone-1"></i><span>{{ property.agent.office_phone_no }}</span></li>
                    <li><i class="icon-mail"></i><a href="#">{{ property.agent.user.email }}</a></li>
                  </ul>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- section-property-detail -->

  <!-- section-opinion -->
  <section class="section-similar-properties tf-spacing-3 ">
    <div class="tf-container">
      <div class="row">
        <div class="col-12">
          <div class="heading-section mb-32">
            <h2 class="title ">Similar Properties</h2>
          </div>
          <div class="swiper style-pagination tf-sw-mobile-1" data-screen="991" data-preview="1" data-space="15">
            <div class="swiper-wrapper tf-layout-mobile-xl  lg-col-3 wrap-agent wow fadeInUp" data-wow-delay=".2s">
              {% for similar in similar_properties %}
              <div class="swiper-slide">
                <div class="box-house hover-img">
                  <div class="image-wrap">
                    <a href="{% url 'home:rent_property_detail' similar.slug %}">
                      <img class="lazyload" data-src="{{ similar.main_image_url }}" src="{{ similar.main_image_url}}"
                        alt="">
                    </a>
                    <ul class="box-tag flex gap-8 ">
                    </ul>
                    {% include 'partials/_favorite_button.html' with property=similar %}
                  </div>
                  <div class="content">
                    <h5 class="title">
                      <a href="{% url 'home:rent_property_detail' similar.slug %}">{{ similar.title }}</a>
                    </h5>
                    <p class="location text-1 flex items-center gap-8">
                      <i class="icon-location"></i> {{ similar.location }}
                    </p>
                    <ul class="meta-list flex">
                      <li class="text-1 flex"><span>{{ similar.bedrooms}}</span>Beds</li>
                      <li class="text-1 flex"><span>{{ similar.bathrooms}}</span>Baths</li>
                      <li class="text-1 flex"><span>{{ similar.sqft }}</span>Sqft</li>
                    </ul>
                    <div class="bot flex justify-between items-center">
                      <h5 class="price">
                        ${{ similar.price|floatformat:0 }}
                      </h5>
                      <div class="wrap-btn flex">
                        <a href="{% url 'home:rent_property_detail' similar.slug %}"
                          class="tf-btn style-border pd-4">Details</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
            <div class="sw-pagination sw-pagination-mb-1 text-center d-lg-none d-block mt-20"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /section-opinion -->

</div>
<!-- /main-content -->

<style>
.video-player-wrapper {
  position: relative;
  background: #000;
  border-radius: 8px;
  overflow: hidden;
}

.video-player {
  width: 100%;
  height: auto;
  max-height: 500px;
  background: #000;
}

.video-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(transparent, rgba(0,0,0,0.7));
  padding: 20px 15px 10px;
  display: flex;
  align-items: center;
  transition: opacity 0.3s;
}

.video-player-wrapper:hover .video-controls {
  opacity: 1;
}

.video-info {
  padding: 15px;
  background: #f8f9fa;
  border-radius: 0 0 8px 8px;
}
</style>

<script>
document.addEventListener('DOMContentLoaded', function() {
  const video = document.getElementById('property-video');

  if (video) {
    // Optional: Add custom video controls functionality
    const playPauseBtn = document.querySelector('.play-pause-btn');
    const progressBar = document.querySelector('.video-progress');
    const timeDisplay = document.querySelector('.video-time');
    const muteBtn = document.querySelector('.mute-btn');
    const fullscreenBtn = document.querySelector('.fullscreen-btn');

    // Format time display
    function formatTime(seconds) {
      const minutes = Math.floor(seconds / 60);
      const secs = Math.floor(seconds % 60);
      return `${minutes.toString().padStart(2, '0')}:${secs.toString().padStart(2, '0')}`;
    }

    // Update progress bar and time
    video.addEventListener('timeupdate', function() {
      const progress = (video.currentTime / video.duration) * 100;
      if (progressBar) progressBar.value = progress;
      if (timeDisplay) {
        timeDisplay.textContent = `${formatTime(video.currentTime)} / ${formatTime(video.duration)}`;
      }
    });

    // Click on progress bar to seek
    if (progressBar) {
      progressBar.addEventListener('input', function() {
        const seekTime = (this.value / 100) * video.duration;
        video.currentTime = seekTime;
      });
    }
  }
});
</script>

{% endblock content %}
