{% load static %}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<!--<![endif]-->

<head>
  <!-- Basic Page Needs -->
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
  <title>RMP - Real Estate Market Place</title>

  <meta name="author" content="REM.com">

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Google Font: Inter -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">

  <!-- Theme & Vendor Styles -->
  <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/animation.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap-select.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

  <!-- Icon Fonts -->
  <link rel="stylesheet" href="{% static 'assets/icon2/style.css' %}">

  <!-- Favicon and Touch Icons -->
  <link rel="shortcut icon" href="{% static 'images/logo/REM.png' %}">
  <link rel="apple-touch-icon-precomposed" href="{% static 'images/logo/REM.png' %}">

  <!-- Bootstrap CDN (optional if not relying on this instead of local) -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU5C6kDkWc33RWtb07i1zV2Rb/pkzNf0k0GmQ5wF0p6H2w5" crossorigin="anonymous">



</head>

<body class="body">

  <!-- #wrapper -->
  <div id="wrapper">
    <!-- #page -->
    <div id="page" class="">
      <!-- layout-wrap -->
      <div class="layout-wrap">
        <!-- preload -->
        <div id="preload" class="preload-container">
          <div class="preloading">
            <span></span>
          </div>
        </div>
        <!-- /preload -->
        <!-- section-menu-left -->
        <div class="section-menu-left">
          <div class="box-logo">
            <a href="{% url 'home:home' %}" id="site-logo-inner">
              <img class="" id="logo_header" alt="" src="{% static 'images/logo/REM1.png' %}"
                data-light="{% static 'images/logo/REM1.png' %}" data-dark="{% static 'images/logo/REM.png' %}"
                style="height:50px; width:90em">
            </a>
            <div class="button-show-hide">
              <i class="icon-menu-left"></i>
            </div>
          </div>
          <div class="center">
            <div class="center-item">
              <div class="center-heading">Main Home</div>
              <ul class="menu-list">
                <li class="menu-item has-children active">
                  <a href="javascript:void(0);" class="menu-item-button">
                    <div class="icon"><i class="icon-grid"></i></div>
                    <div class="text">Dashboard</div>
                  </a>

                  {% if request.user.role == "Agent" %}
                  <ul class="sub-menu" style="display: block;">
                    <li class="sub-menu-item">
                      <a href="{% url 'property:property_create' %}" class="">
                        <div class="text">Create Property</div>
                      </a>
                    </li>
                    <li class="sub-menu-item">
                      <a href="{% url 'property:property_list' %}" class="">
                        <div class="text">List Property</div>
                      </a>
                    </li>
                    <li class="sub-menu-item">
                      <a href="{% url 'notification:message_list' %}" class="">
                        <div class="text">Messages</div>
                      </a>
                    </li>
                    <li class="sub-menu-item">
                      <a href="{% url 'property:lead_list' %}" class="">
                        <div class="text">Leads</div>
                      </a>
                    </li>
                    {% comment %} <li class="sub-menu-item">
                      <a href="" class="">
                        <div class="text">Create Property Images</div>
                      </a>
                    </li> {% endcomment %}

                  </ul>
                  {% else %}
                  <ul class="sub-menu" style="display: block;">
                    <li class="sub-menu-item">
                      <a href="{% url 'property:customers_favorite_list' %}" class="">
                        <div class="text">My Favorites</div>
                      </a>
                    </li>
                    <li class="sub-menu-item">
                      <a href="{% url 'property:property_list' %}" class="">
                        <div class="text">List Property</div>
                      </a>
                    </li>
                    <li class="sub-menu-item">
                      <a href="{% url 'notification:message_list' %}" class="">
                        <div class="text">Messages</div>
                      </a>
                    </li>
                    {% comment %} <li class="sub-menu-item">
                      <a href="" class="">
                        <div class="text">Create Property Images</div>
                      </a>
                    </li> {% endcomment %}

                  </ul>
                  {% endif %}

                </li>
              </ul>
            </div>
            <div class="center-item">
              {% comment %} <div class="center-heading">All page</div> {% endcomment %}
              {% comment %} <ul class="menu-list">
                <li class="menu-item has-children">
                  <a href="javascript:void(0);" class="menu-item-button">
                    <div class="icon"><i class="icon-shopping-cart"></i></div>
                    <div class="text">Ecommerce</div>
                  </a>
                  <ul class="sub-menu">
                    <li class="sub-menu-item">
                      <a href="add-product.html" class="">
                        <div class="text">Add Product</div>
                      </a>
                    </li>
                    <li class="sub-menu-item">
                      <a href="product-list.html" class="">
                        <div class="text">Product List</div>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="menu-item has-children">
                  <a href="javascript:void(0);" class="menu-item-button">
                    <div class="icon"><i class="icon-layers"></i></div>
                    <div class="text">Category</div>
                  </a>
                  <ul class="sub-menu">
                    <li class="sub-menu-item">
                      <a href="category-list.html" class="">
                        <div class="text">Category list</div>
                      </a>
                    </li>
                    <li class="sub-menu-item">
                      <a href="new-category.html" class="">
                        <div class="text">New category</div>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="menu-item has-children">
                  <a href="javascript:void(0);" class="menu-item-button">
                    <div class="icon"><i class="icon-box"></i></div>
                    <div class="text">Attributes</div>
                  </a>
                  <ul class="sub-menu">
                    <li class="sub-menu-item">
                      <a href="attributes.html" class="">
                        <div class="text">Attributes</div>
                      </a>
                    </li>
                    <li class="sub-menu-item">
                      <a href="add-attributes.html" class="">
                        <div class="text">Add attributes</div>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="menu-item has-children">
                  <a href="javascript:void(0);" class="menu-item-button">
                    <div class="icon"><i class="icon-file-plus"></i></div>
                    <div class="text">Order</div>
                  </a>
                  <ul class="sub-menu">
                    <li class="sub-menu-item">
                      <a href="oder-list.html" class="">
                        <div class="text">Order list</div>
                      </a>
                    </li>
                    <li class="sub-menu-item">
                      <a href="oder-detail.html" class="">
                        <div class="text">Order detail</div>
                      </a>
                    </li>
                    <li class="sub-menu-item">
                      <a href="oder-tracking.html" class="">
                        <div class="text">Order tracking</div>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="menu-item has-children">
                  <a href="javascript:void(0);" class="menu-item-button">
                    <div class="icon"><i class="icon-user"></i></div>
                    <div class="text">User</div>
                  </a>
                  <ul class="sub-menu">
                    <li class="sub-menu-item">
                      <a href="all-user.html" class="">
                        <div class="text">All user</div>
                      </a>
                    </li>
                    <li class="sub-menu-item">
                      <a href="add-new-user.html" class="">
                        <div class="text">Add new user</div>
                      </a>
                    </li>
                    <li class="sub-menu-item">
                      <a href="login.html" class="">
                        <div class="text">Login</div>
                      </a>
                    </li>
                    <li class="sub-menu-item">
                      <a href="sign-up.html" class="">
                        <div class="text">Sign up</div>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="menu-item has-children">
                  <a href="javascript:void(0);" class="menu-item-button">
                    <div class="icon"><i class="icon-user-plus"></i></div>
                    <div class="text">Roles</div>
                  </a>
                  <ul class="sub-menu">
                    <li class="sub-menu-item">
                      <a href="all-roles.html" class="">
                        <div class="text">All roles</div>
                      </a>
                    </li>
                    <li class="sub-menu-item">
                      <a href="create-role.html" class="">
                        <div class="text">Create role</div>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="menu-item">
                  <a href="gallery.html" class="">
                    <div class="icon"><i class="icon-image"></i></div>
                    <div class="text">Gallery</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="report.html" class="">
                    <div class="icon"><i class="icon-pie-chart"></i></div>
                    <div class="text">Report</div>
                  </a>
                </li>
              </ul> {% endcomment %}
            </div>


          </div>

        </div>
        <!-- /section-menu-left -->
        <!-- section-content-right -->
        <div class="section-content-right">
          <!-- header-dashboard -->
          <div class="header-dashboard">
            <div class="wrap">
              <div class="header-left">
                <a href="{% url 'home:home' %}">
                  <img class="" id="logo_header_mobile" alt="" src="{% static 'images/logo/REM1.png' %}"
                    data-light="{% static 'images/logo/REM1.png' %}" data-dark="{% static 'images/logo/REM.png' %}"
                    data-width="154px" data-height="52px" data-retina="{% static 'images/logo/REM1.png' %}"
                    style="height:70px; ">
                </a>
                <div class="button-show-hide">
                  <i class="icon-menu-left"></i>
                </div>

              </div>
              <div class="header-grid">

                <div class="header-item button-dark-light">
                  <i class="icon-moon"></i>
                </div>
                <div class="popup-wrap noti type-header">
                  <div class="dropdown">
                    {% comment %} <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      <span class="header-item">
                        <span class="text-tiny">1</span>
                        <i class="icon-bell"></i>
                      </span>
                    </button> {% endcomment %}
                    {% comment %} <ul class="dropdown-menu dropdown-menu-end has-content" aria-labelledby="dropdownMenuButton1">
                      <li>
                        <h6>Message</h6>
                      </li>
                      <li>
                        <div class="noti-item w-full wg-user active">
                          <div class="image">
                            <img src="{% static 'assets/images/avatar/user-11.png' %}" alt="">
                          </div>
                          <div class="flex-grow">
                            <div class="flex items-center justify-between">
                              <a href="#" class="body-title">Cameron Williamson</a>
                              <div class="time">10:13 PM</div>
                            </div>
                            <div class="text-tiny">Hello?</div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="noti-item w-full wg-user active">
                          <div class="image">
                            <img src="{% static 'assets/images/avatar/user-12.png' %}" alt="">
                          </div>
                          <div class="flex-grow">
                            <div class="flex items-center justify-between">
                              <a href="#" class="body-title">Ralph Edwards</a>
                              <div class="time">10:13 PM</div>
                            </div>
                            <div class="text-tiny">Are you there? interested i this...</div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="noti-item w-full wg-user active">
                          <div class="image">
                            <img src="{% static 'assets/images/avatar/user-13.png' %}" alt="">
                          </div>
                          <div class="flex-grow">
                            <div class="flex items-center justify-between">
                              <a href="#" class="body-title">Eleanor Pena</a>
                              <div class="time">10:13 PM</div>
                            </div>
                            <div class="text-tiny">Interested in this loads?</div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="noti-item w-full wg-user active">
                          <div class="image">
                            <img src="{% static 'assets/images/avatar/user-11.png' %}" alt="">
                          </div>
                          <div class="flex-grow">
                            <div class="flex items-center justify-between">
                              <a href="#" class="body-title">Jane Cooper</a>
                              <div class="time">10:13 PM</div>
                            </div>
                            <div class="text-tiny">Okay...Do we have a deal?</div>
                          </div>
                        </div>
                      </li>
                      <li><a href="#" class="tf-button w-full">View all</a></li>
                    </ul> {% endcomment %}
                  </div>
                </div>
                <div class="popup-wrap message type-header">
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      <span class="header-item">
                        <span class="text-tiny">{{unmarked_notifications}}</span>
                        <i class="icon-message-square"></i>
                      </span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end has-content" aria-labelledby="dropdownMenuButton2">
                      <li>
                        <h6>Notifications</h6>
                      </li>
                      {% for latest_notification in latest_notifications %}
                      <li>
                        <div class="message-item item-1">
                          <div class="image">
                            <i class="icon-noti-1"></i>
                          </div>
                          <div>
                            <div class="body-title-2">{{ latest_notification.notification_type}}</div>
                            <div class="text-tiny">{{ latest_notification.message|truncatechars:10}}
                            </div>
                          </div>
                        </div>
                      </li>
                      {% endfor %}

                      <li><a href="{% url 'notification:notification_list' %}" class="tf-button w-full">View all</a></li>
                    </ul>
                  </div>
                </div>
                <div class="header-item button-zoom-maximize">
                  <div class="">
                    <i class="icon-maximize"></i>
                  </div>
                </div>
                <div class="popup-wrap apps type-header">
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton4"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      <span class="header-item">
                        <i class="icon-grid"></i>
                      </span>
                    </button>

                  </div>
                </div>
                <div class="popup-wrap user type-header">
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton3"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      <span class="header-user wg-user">
                        {% comment %} <span class="image">
                          <img src="{{{% static 'assets/images/avatar/user-1.png' %}}}" alt="">
                        </span> {% endcomment %}
                        <span class="flex flex-column">
                          <span class="body-title mb-2">{{ request.user.name }}</span>
                          <span class="text-tiny">Dashboard</span>
                        </span>
                      </span>
                    </button>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /header-dashboard -->
          {% include 'partials/messages.html' %}

          {% block content %}

          {% endblock content %}
          <!-- /form-add-product -->
        </div>
        <!-- /main-content-wrap -->
      </div>
      <!-- /main-content-wrap -->
      <!-- bottom-page -->
      <div class="bottom-page">
        <div class="body-text">Copyright © 2025 REM. Design with</div>
        <i class="icon-heart"></i>
        <div class="body-text">by <a href="#">REM</a> All
          rights reserved.</div>
      </div>
      <!-- /bottom-page -->
    </div>
    <!-- /main-content -->
  </div>
  <!-- /section-content-right -->
  </div>
  <!-- /layout-wrap -->
  </div>
  <!-- /#page -->
  </div>
  <!-- /#wrapper -->

  <!-- Javascript -->
  <script src="{% static 'assets/js/jquery.min.js' %}"></script>
  <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/js/bootstrap-select.min.js' %}"></script>
  <script src="{% static 'assets/js/zoom.js' %}"></script>
  <script src="{% static 'assets/js/jvectormap-1.2.2.min.js' %}"></script>
  <script src="{% static 'assets/js/jvectormap-us-lcc.js' %}"></script>
  <script src="{% static 'assets/js/jvectormap.js' %}"></script>
  <script src="{% static 'assets/js/apexcharts/apexcharts.js' %}"></script>
  <script src="{% static 'assets/js/apexcharts/line-chart-1.js' %}"></script>
  <script src="{% static 'assets/js/apexcharts/line-chart-2.js' %}"></script>
  <script src="{% static 'assets/js/apexcharts/line-chart-3.js' %}"></script>
  <script src="{% static 'assets/js/apexcharts/line-chart-4.js' %}"></script>
  <script src="{% static 'assets/js/apexcharts/line-chart-7.js' %}"></script>
  <script src="{% static 'assets/js/switcher.js' %}"></script>
  <script src="{% static 'assets/js/theme-settings.js' %}"></script>
  <script src="{% static 'assets/js/main.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-QF1m4QcHTaYIhD1RAJ1YrZ+hV6RMCv9mGbOfZs8B5TTYYUq9F71YOGvHkOZef4Jp" crossorigin="anonymous">
  </script>


</body>

</html>
